* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #191e29;
    --navy: #132d46;
    --green: #01c38d;
    --grey: #696e79;
    --white: #ffff;
}

/* Reset font-size for easier rem unit calculation */
body {
    font-size: 10px;
    background-color: var(--navy);
    color: var(--white);
}

