/* GOOGLE FONTS LINK */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #191e29;
    --navy: #132d46;
    --green: #01c38d;
    --grey: #696e79;
    --white: #ffff;
}

/* Reset font-size for easier rem unit calculation */
body {
    font-size: 10px;
    background-color: var(--navy);
    color: var(--white);
    font-family: Oswald, sans-serif;
}

#navbar {
    position: relative;
    padding: 1rem;
}

#toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Hides checkbox */
#nav_checkbox {
    display: none
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu li {
    list-style: none;
    display: none;
    padding: 5px 0;
    font-size: 1.2rem;
}

#logo {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
}

.nav-link:hover {
    border-bottom: 1px solid var(--green);
}



#nav_checkbox:checked~ul.nav-menu li {
    display: block;
}

/* RESPONSIVE STYLES */
@media only screen and (min-width: 560px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
    }

    .nav-menu li {
        display: block;
        margin-right: 1rem;
    }
}

/* HERO STYLES */
#hero {
    width: 100%;
    height: 500px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/team.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
    
}

#hero h1 {
    font-size: 3rem;
    line-height: 4rem;
}

#hero p {
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
}

#content {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.content-item {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.content-item img {
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
}

.content-item h3 {
    font-size: 1.5rem;
}

.content-item p {
    font-family: Lato, sans-serif;
    font-size: 1rem;
}